@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

body {
  font-family: Poppins;
}
/////////////////////////////////// TOOGLER ICON COLOR CHANGE COLOR //////////////////////////

.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none !important;
  position: relative;
  border-bottom: 2px solid #ffffff;
  transition: all 300ms linear;
}
.navbar .navbar-toggler-icon:after,
.navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: #ffffff;
  top: 0;
  left: 0;
  content: "";
  z-index: 2;
  transition: all 300ms linear;
}
.navbar .navbar-toggler-icon:after {
  top: 8px;
}

.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg) !important;
}
.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg) !important;
}
.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent !important;
}
.navbar-toggler {
  background-color: rgb(52 196 57) !important;
  padding: 10px !important;
}

.offcanvas {
  backdrop-filter: blur(10px) !important;
  background-color: #00000080 !important;
}

///////////////////////////// BASE  //////////////////////@at-root
.base-section {
  // position: relative;
  background: #131722;
}

//////////////////  SIDEBAR .//////////////

.Sidebar-content {
  // position: absolute;
  width: 280px;
  background: rgba(27, 33, 48, 0.75);
  height: 100vh;
  top: 0;
  bottom: 0;
  overflow: auto;

  .sidebar-header {
    padding: 50px 0px;
    .sidebar-title {
      h5 {
        font-weight: 700;
        margin-left: 5px;
      }
    }
  }

  ul {
    li {
      list-style: none;
      a {
        margin: 0px 15px 0px 15px;
        border-radius: 12px;
        padding: 12px 15px;
        margin: 15px;
        text-decoration: none;
        color: #545d69;
        &:hover {
          background: rgba(19, 23, 34, 0.75);
          color: #ffffff;
        }
        h6 {
          padding-left: 15px;
        }
      }
    }
  }
  .btn {
    position: absolute;
    bottom: 0;
    background: rgba(27, 33, 48, 0.75);
    .btn-login {
      background: linear-gradient(95.02deg, #ff82d4 0%, #1b1378 100%);
      border-radius: 12px;
      width: 232px;
      height: 55px;
      padding: 12px 0px;
      border: none;
      font-size: 18px;
      font-weight: 600;
      color: #ffffff;
    }
  }
}
///////////////////////////////////////////  Main Content ////////////////////////@at-root

.Main-content {
  position: absolute;
  height: 100vh;
  left: 360px;
  overflow: auto;
  right: 0;
  padding: 50px 80px 50px 0px;
}

//////////////////////////// HERO SECTION ///////////////////////////////////

.hero-section {
  .carosel-banner {
    margin-top: 50px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
  // .carousel-indicators .active {
  //   background: linear-gradient(99.52deg, #7A74FF -5.53%, #D895FF -5.52%, #7A74FF 111.67%) !important;
  //   border-radius: 100px;
  //   width: 30px;
  //   height: 3px;
  // }
  .carousel-caption {
    font-weight: 700;
    line-height: 36px;
    bottom: 1.25rem;
    left: 5%;
    text-align: start;
    p {
      font-weight: 400;
      line-height: 170%;
      letter-spacing: 0.005em;
      color: #f4f6f9;
    }
    .btn {
      padding: 0px;
    }
  }
  h3 {
    color: #ebeef2;
    font-weight: 700;
    font-size: 28px;
  }
  .this-week-lunacia {
    margin-top: 75px;
    h2 {
      color: #f4f6f9;
    }
    h6 {
      font-weight: 400px;
      color: #a5abb3;
      margin-bottom: 30px;
    }
    .lunacia-card {
      background-image: url("../public/assets/lunacia-carg-bg.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 30px;
      // position: absolute;
      .card-title {
        h6 {
          margin: 25px 0px 5px 0px;
          // font-weight: 600;
          font-size: 18px;
          color: #545d69;
        }
      }
      .card-user {
        h2 {
          font-weight: 700;
          color: #f4f6f9;
        }
      }
    }
  }
}

/////////////////////  ALLL SEATS ///////////////////

.all-seat {
  margin-top: 30px;
  .card {
    background: rgba(27, 33, 48, 0.75);
    border-radius: 12px;
    .card-header {
      border-radius: 12px 12px 0px 0px;
      background: linear-gradient(
        95.02deg,
        #ff82d4 0%,
        #1b1378 100%
      ) !important;
      mix-blend-mode: soft-light;
      opacity: 0.75;
      padding: 22px 30px;
      color: #f4f6f9;
    }
    .card-body {
      padding: 30px;
    }

    .allseat-card {
      padding-left: 23px;
      .card-title {
        margin: 10px 0px 5px 0px;
        color: #545d69;
        font-size: 18px;
        font-weight: 600;
      }
      .card-user {
        font-weight: 700;
        font-size: 24px;
        color: #f4f6f9;
      }
      .card-btn {
        margin-left: 10px;
      }
    }
  }
}

//////////////// GAME SECTION ////////////

.Game-section {
  margin-top: 30px;
  .card {
    background: rgba(27, 33, 48, 0.75);
    border-radius: 12px;
    .card-header {
      border-radius: 12px 12px 0px 0px;
      background: linear-gradient(
        95.02deg,
        #ff82d4 0%,
        #1b1378 100%
      ) !important;
      mix-blend-mode: soft-light;
      opacity: 0.75;
      padding: 22px 0px 22px 30px;
      color: #f4f6f9;
    }
    .card-body {
      padding: 30px;
    }

    .allseat-card {
      // padding-left: 23px;
      // margin-left: 10px;
      .card-title {
        font-weight: 600;
        font-size: 16px;
        color: #f4f6f9;
      }
      .card-content {
        margin-left: 10px;
      }
      .card-user {
        font-weight: 700;
        font-size: 24px;
        color: #f4f6f9;
      }
      .card-btn a:nth-child(1) {
        margin-right: 10px;
      }
    }
  }
}

//////////////////////////////////////////////      ALL GMAE COMPONENT     ///////////////////////////////////////////

.all-game-section {
  h3 {
    font-weight: 700;
    line-height: 130%;
    color: #ebeef2;
  }
  .card {
    margin: 50px 0px 30px 0px;
    background: #1b2130;
    opacity: 0.75;
    border-radius: 12px;
    .card-title {
      font-weight: 700;
      font-size: 20px;
      line-height: 130%;
      color: #f4f6f9;
    }
    .card-text {
      font-weight: 500;
      line-height: 170%;
      letter-spacing: 0.005em;
      color: #545d69;
    }
  }
}

//////////////////////// GAME DETAIL ////////////////////////////@at-root

.game-detail-section {
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
  .heading {
    margin-right: 15px;
    h3 {
      font-weight: 700;
      color: #ebeef2;
    }
    p {
      font-size: 14px;
      line-height: 170%;
      letter-spacing: 0.008em;
      color: #6d7580;
    }
  }
  .icons {
    .icon {
      width: 30px;
      height: 30px;
      left: 0px;
      top: 0px;
      color: #545d69;
      margin-right: 15px;
    }
  }
  .carosel-banner {
    margin-top: 50px;
  }

  .nav-section {
    margin-top: 50px;

    .next-arrow {
      color: #ebeef2;
      .mr-32 {
        margin-right: 32px;
      }
    }
    .nav-pills .nav-link.active,
    .nav-pills .show > .nav-link {
      background: #1b2130 !important;
      color: #ffffff !important;
    }
    .nav-pills .nav-item .nav-link {
      padding: 10px 32px;
      font-weight: 600;
      width: 181px;
      height: 47px;
      background-color: transparent;
      color: #545d69;
      // &:hover  {
      //   background: #1b2130;
      //   color: #ffffff;
      // }
    }
  }
}

/////////////////////  Game INFO ///////////////////////////

.GameInfo-section {
  margin-top: 30px;
  .card {
    background: rgba(27, 33, 48, 0.75);
    .card-header {
      border-radius: 12px 12px 0px 0px;
      background: linear-gradient(
        95.02deg,
        #ff82d4 0%,
        #1b1378 100%
      ) !important;
      mix-blend-mode: soft-light;
      opacity: 0.75;
      padding: 22px 22px 22px 30px;
      color: #f4f6f9;
    }
    .card-body {
      padding: 30px;
      h5 {
        font-weight: 600;
        font-size: 20px;
        line-height: 34px;
        color: #f4f6f9;
      }
      p {
        line-height: 170%;
        color: #a5abb3;
        margin-bottom: 20px;
      }
    }
  }
  .icons {
    img {
      margin-left: 24px;
    }
    h6 {
      background: linear-gradient(
        99.52deg,
        #7a74ff -5.53%,
        #d895ff -5.52%,
        #7a74ff 111.67%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
    .info-icon {
      color: #f4f6f9;
      width: 18px;
      height: 18px;
    }
  }
}

//////////////////////// MARKET PLACE ///////////////////////////////@at-root

.marketplace-section {
  .all-seat .card .card-header {
    height: 80px;
  }
  .nav-pills .nav-link {
    color: #545d69;
    padding: 10px 16px;
    height: 47px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
  }
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    background: rgba(27, 33, 48, 0.75);
    color: #ffffff !important;
  }

  .top-sale-sec {
    margin-top: 50px;
    .card {
      background: #1b2130;
      opacity: 0.75;
      border-radius: 12px;
      margin-bottom: 20px;
      .borderss {
        padding: 4px;
        // gap: 5px;
        // width: 81px;
        height: 28px;
        // border: 1px solid #76e234;
        border-radius: 6px;
        margin-bottom: 14px;
        p {
          font-weight: 600;
          font-size: 12px;
          // color: #76e234;
        }
      }
      .card-title {
        font-weight: 600;
        font-size: 14px;
        letter-spacing: 0.008em;
        color: #ffffff;
      }
      .card-text {
        font-weight: 500;
        font-size: 12px;
        color: #a5abb3;
      }
      .right-content {
        .card-text {
          color: #dadee3 !important;
        }
      }
    }
  }
  .Recent-sale-sec {
    margin-top: 50px;
    .mr-32 {
      margin-right: 32px;
    }
    p {
      font-weight: 600;
      font-size: 12px;
      color: #545d69;
    }

    .card {
      .card-img-top {
        background: url("../public/assets/marketplace/salebg1.png");
      }
      background: #1b2130;
      opacity: 0.75;
      border-radius: 12px;
      .card-title {
        font-weight: 700;
        font-size: 20px;
        color: #f4f6f9;
      }
      .card-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 170%;
        color: #545d69;
      }
      .badge {
        padding: 4px 8px;
        width: 97px;
        height: 35px;
        left: 15px;
        top: 15px;
        background: rgba(216, 149, 255, 0.1) !important;
        border-radius: 6px;
      }
    }
  }
}

///////////////////////////  RECENT LISTING ////////////////////////////

.recent-list {
  margin-top: 50px;
}


.border-vertical-linereee{
  // width: 63px;
height: 78px;

// transform: rotate(90deg);
border-left: 1px solid;
border-image-source: linear-gradient(95.02deg, #FF82D4 0%, #1B1378 100%);



}